body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-header{
    display: flex;
    flex-direction: column;
    max-width: 150px;  
}
.title{
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin-top: 100px;
    margin-bottom: 0;
}
.link, .subtext {
    color:#e5e7eb;
    font-size: 18px;
}
.hlogo{
    font-size:24px;
    color: #F9FAF8;  
}
.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    padding-top: 0px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}
.informHeader{
    display: flex;
    max-width: 200px;
    flex-flow: column wrap;
    align-items: flex-start;
}
.headerLinks{
    display: flex;
    flex-flow: row wrap;
}
.link{
    padding-left: 20px;
}
.subtext{
    font-size: larger;
}
.firstImage{
    padding-top:50px;
}
.hlinks{
    display: flex;
    gap:10px;
    padding-right:20px;
}
.leftColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.rightColumn{
    display: flex;
    flex-flow: column wrap;
    align-items:flex-end;
    justify-content: end;
    
}
.footer{
    background-color: aliceblue;
}
.headingButton{
    background-color: #3882f6;
    color: white;
    border: 0px;
    border-radius: 12px;
    width:150px;
    height:25px;

}
.midSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pictureSection{
    display: flex;
    align-items: center;
    flex:1;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:50px;
    width:200px
}

.midSectionInfo{
    display: flex;
    gap:50px;
}
.midSectionHeader{
    margin: 75px;
}